@import "./_variables";

.createPostContainer {
  margin: 2% 10%;
  background-color: $chamalow;
  padding: 14px;
  border-radius: 40px;
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    @media screen and (max-width: 600px) {
      height: 75px;
    }
    @media screen and (min-width: 601px) and (max-width: 1223px) {
     margin: 3%;
    }

  .createPostContent {
    background-color: #fff;
    border: 1px solid $night;
    height: 100px;
    border-radius: 20px;
    display: flex;
    @media screen and (max-width: 600px) {
      height: 70px;
    }
    .writeNews {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media screen and (max-width: 600px) {
        height: 70px;
      }
      .createPostInput {
        border-style: none;
        width: 80%; //A modifier (70) si on inclus la photo
        position: relative;
        font-size: 16px;
        border-radius: 20px;
        &::placeholder {
          color: $night;
          @media screen and (max-width: 1223px) {
            padding-left: 5%;
          }
        }
        &:focus {
          outline: none;
        }
      }
      .createPostOptions {
        display: flex;
        justify-content: flex-end;
        .sendImg{
          display: none;
        }

        .createPostIcon {
          color: $night;
          border: 2px solid $night;
          border-radius: 50%;
          padding: 4px;
          position: relative;
          top: 35px;
          right: 15px;
          transition: all 300ms;
          &:hover {
            color: $red;
            border: 2px solid $red; 
            transform: scale(1.15);
          }
          
          @media screen and (max-width: 600px) {
            position: relative;
            top:21px;
            right:10px;
          }
        }
        .postBtn {
          position: relative;
          left: 2px;
          height: 101px;
          background-color: $red;
          color: #fff;
          border-style: none;
          border: 1px solid $red;
          border-radius: 0 20px 20px 0;
          padding-bottom: 10px;
          transition: all 300ms;
          &:hover {
            background-color: $night;
            border: 1px solid $night;
          }
          @media screen and (max-width: 600px) {
            position: relative;
            top:0px;
            right:0px;
            height: 71px;
          }
        }
      }
    }
  }
}
