.divUser {
  padding-top: 30px;
  position: absolute;
  right: 86%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 1224px) {
    position: absolute;
    right: 86%;
  }
  @media screen and (min-width: 601px) and (max-width: 1223px) {
    position: absolute;
    right: 84%;
  }

  .userPic {
    width: 150px;

    border-radius: 50%;
    @media screen and (max-width: 600px) {
      display: none;
    }
    @media screen and (min-width: 601px) and (max-width: 1223px) {
      width: 50%;

    }
  }
  .labelAvatar{
    margin-top: 6px;
   padding: 4px 10px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    color: $night;
    border: 2px solid $night;
    border-radius: 25px;
    cursor: pointer;
  }
  .addAvatar{
    display: none;
  }
  .userProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    .userName {
      font-size: 20px;
      @media screen and (max-width: 1223px) {
        font-size: 14px;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .userWork {
      position: relative;
      bottom: 30px;
      font-size: 16px;
      @media screen and (max-width: 1223px) {
        font-size: 14px;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  .handleAccount {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    .handleAccountBtn {
      background-color: #fff;
      margin-bottom: 10%;
      border: 2px solid $night;
      border-radius: 10px;
      padding: 3%;
      cursor: pointer;
      width: 100px;
      //Tablette & Smartphones
      @media screen and (max-width: 1223px) {
        padding: 3%;
        font-size: 12px;
        width: 76px;
      }
      //Smartphones
      @media screen and (max-width: 600px) {
        position: relative;
        bottom: 40px;
        left: 30px;
        background-color: $red;
        color: #fff;
   
      }
     
    }
  }
}
